@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Available Roles For Application</h2>

@Html.ActionLink("Create Role", "Create", "Roles", null, new { id = "OT", style = "color: Red" })

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

<table>
<tr>
    <th>Role Name</th>
</tr>
@foreach (var item in Model)
{
<tr>
    <td>@item.Name</td>
</tr>
}
</table>