@model AsmAppDev2.Models.Category
@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
	<h4>Catogry</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>Name_Category</dt>
		<dd>Name_Category</dd>
		<dt>Description</dt>
		<dd>Description</dd>
		</dl>
</div>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</p>
<p>@Html.ActionLink("Back to List", "Index")</p>

